@font-face {
   font-family: 'Infinity';
   font-display: swap;
   src: url('file:///C:/Users/panthers/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-10-18_154238/fonts/Infinity/font.ttf');
}
