@font-face {
   font-family: 'Alexana Neue';
   font-display: swap;
   src: url('Alexana Neue/font.ttf');
}
@font-face {
   font-family: 'Infinity';
   font-display: swap;
   src: url('Infinity/font.ttf');
}
